@media screen and (max-width: 767px) {
  .desk-only {
    display: none;
  }
  .mob-only {
    display: flex;
  }

  .header-lang {
    &.open {
      ul {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  //
  .why-us-form-cont {
    width: 100%;
  }
  .why-us__block.why-us__block--nowrap {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .why-us__left .why-us__single .why-us__single-head .sub-title {
    font-size: 4.2667vw;
    line-height: 1.2;
  }
  .why-us__left {
    width: 100%;
  }
  .modal-close {
    width: 6.4000vw;
    height: 6.4000vw;
    right: 1.6000vw;
    top: 1.6000vw;
  }
  .modal-window {
    padding: 4.0000vw;
  }
  .modal-container {
    width: 100%;
    padding: 8.0000vw;

  }

  .header-socials .tel strong {
    margin-left: 1.0667vw;
  }
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 4.0000vw;
  }
  .footer-bottom .dev-log {
    width: 41vw;
    margin-bottom: 4.0000vw;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;

    .left {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      gap: 2.6667vw;
      align-items: center;
      justify-content: flex-start;

      p {
        width: 100%;
        font-size: 3.2000vw;
        line-height: 1.2;
        max-width: 100%;
        text-align: center;
      }
    }
  }
  .footer-column {
    width: 100%;

    > span {
      font-size: 4.2667vw;
      line-height: 1.2;
    }

    .mail {
      font-size: 3.2000vw;
      line-height: 1.2;
      margin-bottom: 2.1333vw;
    }

    .address {
      font-size: 3.2000vw;
      line-height: 1.2;
    }
  }

  .clients-list {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .clients-name {
    padding: 2.6667vw;

    .img {
      width:11.4667vw;
      height: 11.4667vw;
      margin-right: 2.6667vw;
    }

    .text {
      p {
        font-size: 2.6667vw;
        line-height: 1.2;
      }

      span {
        font-size: 3.7333vw;
        line-height: 1.2;
      }
    }
  }
  .clients-comment {
    padding: 3.7333vw;
    height: 54vw;

    blockquote {
      font-size: 3.2000vw;
      line-height: 1.2;
    }

    .img {
      max-width: 23.7333vw;
      max-height: 6.6667vw;
      margin-bottom: 2.6667vw;
    }
  }
  .projects-cont {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .single-project .img {
    height: 19vw;
  }
  .single-project .text {
    padding: 0 2.6667vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.6667vw;

    span {
      font-size: 2.1333vw;
      line-height: 1.2;
      font-weight: 600;
      color: $main-color;
    }

    p {
      font-size: 3.7333vw;
      line-height: 1.2;

      strong {
        font-size: 4.2667vw;
        line-height: 1.2;
      }
    }

    .text-row {
      margin-bottom: 2.6667vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .text-col {
      width: 100%;
    }
  }
  .our-team__text {
    width: 100%;

    .btn {
      margin-top: 5.3333vw;
    }
  }
  .our-team__text p {
    font-size: 3.2000vw;
    line-height: 1.2;
    max-width: 100%;
  }
  .our-team-slider {
    width: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .our-team-slider .swiper-slide .text {
    padding: 0;

    p {
      font-size: 3.2000vw;
      line-height: 1.2;
    }

    span {
      font-size: 4.2667vw;
      line-height: 1.2;
    }
  }
  .slider-btn {
    display: none;
  }
  .our-team-slider .swiper-slide .img {
    height: 67vw;
    margin-bottom: 4.0000vw;
  }
  .dots {
    width: 100%;
    display: flex !important;
    gap: 2.1333vw;
    justify-content: center;
    align-items: center;
    margin: 4.0000vw 0;
  }
  .single-dot {
    width: 4.0000vw;
    height: 4.0000vw;
    border-radius: 50%;
    cursor: pointer;
    background: #cfcfcf;

    &.active {
      background: $main-color;
    }
  }
  .our-team__cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .our-team {
    margin-top: 12.0000vw;
  }
  .title-head {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .line {
      width: 80%;
      margin: 4.0000vw 0;
    }
  }
  .single-consult {
    width: 100%;
    height: auto;
  }
  .consult {
    padding-bottom: 8.0000vw;
  }
  .single-consult:last-child .btn-mod {
    padding: 5.3333vw;

    &::after {
      width: 6.9333vw;
      height: 2.6667vw;
    }

    p {
      font-size: 3.7333vw;
      line-height: 1.2;
    }

    span {
      font-size: 2.1333vw;
      line-height: 1.2;
    }
  }
  .consult-wrap .texts {
    right: 0;
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%);
    left: auto;
    padding-left: 0;
    width: auto;

    .img {
      width: auto;
      height: 7.4667vw;
    }
  }
  .consult-wrap {
    padding: 2.6667vw 10.6667vw;

    .arr {
      width: 6.9333vw;
      height: 2.6667vw;
      left: 1.8667vw;
    }
  }
  .consult-wrap .hidden-text {
    opacity: 1;
    pointer-events: auto;
  }
  .consult-wrap .texts p {
    display: none;
  }
  .consult-wrap p {
    font-size: 3.7333vw;
    line-height: 1.2;
    opacity: 1;
    pointer-events: auto;
  }

  .consult-cont .sub-text {
    margin-top: 1.6000vw;
    margin-bottom: 3.7333vw;
  }
  .sub-text {
    font-size: 3.7333vw;
    line-height: 1.2;
    margin-bottom: 2.6667vw;
  }
  .form form .btn {
    margin-top: 2.6667vw;
  }
  .form form {
    gap: 2.1333vw;
  }
  .input-wrap {
    input {
      height: 9.0667vw;
      border-radius: 4.5333vw;
      padding: 1.0667vw 2.6667vw 1.0667vw 11.2000vw;
      font-size: 3.7333vw;
      line-height: 1.2;

      &::placeholder {
        font-size: 3.7333vw;
        line-height: 1.2;
      }
    }

    .req-item {
      width: 1.8667vw;
      height: 1.8667vw;
      top: 1.3333vw;
      right: 4.0000vw;
    }

    .img {
      width: 8.0000vw;
      height: 8.0000vw;
      left: 2px;
    }
  }
  .why-us__form {
    .sub-title {
      margin-bottom: 2.6667vw;
    }

    > p {
      font-size: 3.7333vw;
      line-height: 1.2;
      margin-bottom: 2.6667vw;
    }
  }
  .sub-title {
    font-size: 4.8000vw;
    line-height: 1.2;
  }

  .why-us__form {
    width: 100%;
    height: auto;
    padding: 3.7333vw 3.7333vw;
  }
  .why-us__single-head::after {
    width: 6.4000vw;
    height: 3.2000vw;
    right: -2.6667vw;
  }
  .why-us__single-cont .text {
    margin-top: 4.8000vw;
  }
  .why-us__single-cont .text {
    ul {
      padding-left: 5.3333vw;

      li {
        margin-bottom: 2.1333vw;

        &::marker {
          flex-shrink: 0;
          width: 1.8667vw;
          height: 1.8667vw;
        }
      }
    }
  }
  .why-us__single-head::after {
    opacity: 1;
    transition: transform 0.4s ease-in-out;
  }
  .why-us__single.active {
    .why-us__single-head::after {
      transform: translate(0, -50%) rotate(-90deg);
    }
  }
  .why-us__single.active .why-us__single-cont, .why-us__single .why-us__single-cont {
    max-height: 160.0000vw;
    opacity: 1;
  }
  .why-us__single .why-us__single-cont {
    max-height: 0;
    height: auto;
    transition: max-height 0.7s ease-in-out;

    .text {
      height: auto;
    }
  }
  .why-us__single-cont .text li, .why-us__single-cont .text p, .why-us__single-cont .text span {
    font-size: 3.7333vw;
    line-height: 1.2;
  }
  .why-us {
    padding: 8.0000vw 0;
  }
  .why-us__block {
    padding: 2.6667vw;
    gap: 2.1333vw;
  }
  .why-us__single-head .sub-title {
    font-size: 4.2667vw;
    line-height: 1.2;
  }
  .why-us__single.active .why-us__single-head .sub-title, .why-us__single:hover .why-us__single-head .sub-title {
    font-size: 4.2667vw;
    line-height: 1.2;
  }
  .why-us__single {
    width: 100%;
    padding: 6.4000vw 3.2000vw;
    height: auto;
  }
  .why-us__cont .title {
    margin-bottom: 4.2667vw;
  }
  .hero-cont .text .title {
    margin-bottom: 6.9333vw;
  }
  .hero-cont .img {
    width: calc(100% + 8vw);
    height: 102.9333vw;
    max-height: none;
    margin-left: -4.0000vw;
    margin-right: -4.0000vw;
    margin-top: 8.0000vw;
    display: flex;

    img {
      width: 100%;
      height: auto;
    }
  }
  .hero-cont {
    height: auto;
    padding: 8.0000vw 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .btn {
    box-shadow: 0px 10px 7px rgba(169, 29, 33, 0.2);
    transform: translate(0, -10px);

    &.btn--big {
      font-size: 3.7333vw;
      padding: 2.6667vw 9.0667vw;
      line-height: 1.2;
      border-radius: 5.3333vw;

      &::after {
        width: 6.9333vw;
        height: 2.6667vw;
        margin-left: 2.6667vw;
      }
    }

    &.btn--lit {
      font-size: 3.4667vw;
      padding: 1.8667vw 4.2667vw;
      line-height: 1.2;
      border-radius: 5.3333vw;

      &::after {
        width: 6.9333vw;
        height: 2.6667vw;
        margin-left: 2.6667vw;
      }
    }
  }
  .title {
    font-size: 6.9333vw;
    line-height: 1.2;
  }
  .header-cont {
    padding: 2.6667vw 0;
  }
  .header-right {
    gap: 1.8667vw;
  }
  .logo {
    width: 33.0667vw;
  }
  .header-socials {
    gap: 1.8667vw;

    .tel {
      font-size: 3.7333vw;
      line-height: 1.2;
    }

    .soc {
      width: 8.5333vw;
      height: 8.5333vw;
    }
  }
  .header-right {
    .header-socials {
      .tel {
        display: none;
      }

      .soc {
        &.tl {
          display: flex;
        }
      }
    }
  }
  .header-lang {
    span {
      font-size: 3.4667vw;
      line-height: 1.2;
      width: 9.0667vw;
      height: 9.0667vw;
    }
  }
  .header-lang ul li a {
    font-size: 3.4667vw;
    line-height: 1.2;
    width: 9.0667vw;
    height: 9.0667vw;
  }


  //
}

